div{
    text-align: center;
    padding: 50px;
    border: 0;
}
button{
    background-color: #2196F3;
    width: 10%;
    margin: 8px;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
}

input[type=text], input[type=password] {
    width: 35%;
    padding:  20px;
    margin: 8px ;
   display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
}
span{
    position: relative;right: 297px;
    color: #ccc;
}
span a{
    color: #ccc;
}

#span2{
     position: relative;right: 25px; bottom: 30px;
     color: #ccc;
}

h1{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 50px;
    position: fixed ;top: 0px; right: 0px; left: 0px; 

}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 0 13px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    color: #ccc;
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100vh;
    background-image:  url(img.png);
    background-size: cover;
    position: relative;
}

img{
    border-radius: 100px;
    height: 30px;
    position: relative;right: 500px;
}

footer{
    background-color: black;
    color: aliceblue;
    position:fixed; bottom: 0px;right: 0px;left: 0px;
}

label{
    color: white;
}

#contain{
    margin-top: 100px;
}